<h1>My Food List</h1>

<h2>Yummy Vegetarian Food to be Devoured</h2>

<ul>
  {{#each food}}
    {{#unless devoured}}
      {{> foods/foodpartial devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>My Devoured Food!</h2>

<ul>
  {{#each food}}
    {{#if devoured}}
      {{> foods/foodpartial2 devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add to Your Veggie Food Bucket List!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Food Name:</label>
    <input type="text" id="ca" food_name="name">
  </div>

  <button class="btn btn-primary" type="submit">Add Food</button>
</form>
